.outer-wrapper, .inner-wrapper, body{
	width:100%;
	height:100%;
	position:absolute;
	
}
.outer-wrapper .inner-wrapper .navagation::before{
	width:100%;
	height:100%;
	content:"";
	background-color:rgba(255,255,255,0.5);
	display:block;
	position:absolute;
}
.outer-wrapper .inner-wrapper .navagation{
	width:100%;
	height:100%;
	position:relative;
	display:block;
	background:black;
	background-attachment:fixed;
	text-align:right;
	min-height:450px;
	min-width:800px;
	vertical-align: middle;
	overflow:hidden;
	
}
.outer-wrapper .inner-wrapper .navagation .text{
	width:100%;
	height:100%;
	position:relative;
	display:block;
	vertical-align: middle;
	text-align:center;
}

.outer-wrapper .inner-wrapper .navagation h3{
	vertical-align: middle;
	text-align:center;
	color:#FFFFFF;
	font-size:96px;
	font-family: Century Gothic, "proxima-regular", Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	margin: 0;
	position: relative;
	top: 37%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.outer-wrapper .inner-wrapper .navagation h2{
	vertical-align: middle;
	text-align:center;
	color:#FFFFFF;
	font-size:70px;
	font-family: Century Gothic, "proxima-regular", Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	margin: 0;
	position: relative;
	top: 37%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.outer-wrapper .inner-wrapper .navagation h1{
	vertical-align: middle;
	text-align:center;
	color:#FFFFFF;
	font-size:56px;
	font-family: Century Gothic, "proxima-regular", Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	margin: 0;
	position: relative;
	top: 37%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.outer-wrapper .inner-wrapper .navagation .button{
	vertical-align: middle;
	text-align:center;
	color:#FFFFFF;
	font-size:40px;
	font-family: Century Gothic, "proxima-regular", Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	margin: 0;
	position: relative;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	line-height:48px;
	padding:5px;
	width:250px;
	height:48px;
	border:5px solid #6699FF;
	background:url("../images/Untitled.png");
	background-repeat:repeat-x;
	background-position:0px -250px;
	transition:.s;
	-o-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	
}

.outer-wrapper .inner-wrapper .navagation .button a{
	transition:.s;
	-o-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	color:#FFFFFF;
	text-decoration:none;
}

.outer-wrapper .inner-wrapper .navagation .button:hover{
	background-position:0px 0px;
}
.outer-wrapper .inner-wrapper .body{
	height:100%;
	width:100%;
}

.outer-wrapper .inner-wrapper .body .section{
	height:100%;
	width:100%;
}
.outer-wrapper .inner-wrapper .body .one{
	background-color:#F5FAFA;
}
.outer-wrapper .inner-wrapper .body .two{
	background-color:#6699FF;
}

.outer-wrapper .inner-wrapper .body .section .circle{
	width:128px;
	height:128px;
	border-radius:100%;
	background-color:#ACD1E9;
	text-align:center;
	line-height:100px;
}

.outer-wrapper .inner-wrapper .body .one h3{
	text-align:center;
	color:#6699FF;
	font-size:48px;
	font-family: Century Gothic, "proxima-regular", Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	top:10px;
	position: relative;
}
.outer-wrapper .inner-wrapper .body .one h3:after{
	height:2px;
	width:65%;
	background-color:#6699FF;
	display:block;
	position:relative;
	margin-top:15px;
	content:"";
	margin:0 auto;
}

.outer-wrapper .inner-wrapper .body .two h3{
	text-align:center;
	color:#F5FAFA;
	font-size:48px;
	font-family: Century Gothic, "proxima-regular", Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	top:10px;
	position: relative;
}
.outer-wrapper .inner-wrapper .body .two h3:after{
	height:2px;
	width:65%;
	background-color:#F5FAFA;
	display:block;
	position:relative;
	margin-top:15px;
	content:"";
	margin:0 auto;
}